#navigation {
    margin-bottom: 10px; 
}

#listeCollab .card img {
    max-width: 100px;
    max-height: 100px;
}

.collab {
	margin-bottom: 10px;
	max-width: 30rem;
}

.form {
	margin-bottom: 10px;
}

.collab img {
	max-width: 100px;
	max-height: 100px;
}

@media all and (min-width: 1140px) {
	.done {
		display: none;
	}

	.taille {
		font-size: 12px;
	}
}

@media all and (max-width: 960px) {
	.taillecollab {
		font-size: 12px;
	}
	h1 {
	    font-size: 2rem;
	}
}